{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static "auth/login.css" %}" rel="stylesheet" />
    <title>Login</title>
</head>
<body>
    <div id="help">
        <img src="{% static "auth/images/login/help_btn.png" %}" alt="help" id="help1"/>
    </div>
    <div class="main">
        <div class="logo">
            <img src="{% static "auth/images/logo.png" %}" alt="logo" class="logo">
        </div>
        <div id="title">
            ورود به حساب کاربری
        </div>
        <div id="title2">
            به حساب کاربری خود وارد شوید:
            {{error}}
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <div id="input">
                <input type="email" name="email" id="input-child" placeholder="ایمیل خود را وارد کنید...">
            </div>
            <div id="input">
                <input type="password" name="password" id="input-child1" placeholder="رمز عبور خود را وارد کنید...">
            </div>    
            <div id="button">
                <button type="submit">ورود به اباک</button>
            </div>
        </form>
       <div id="sign">
            حساب کاربری ندارید؟ &nbsp;<a href="{% url "sign-up" %}"><span>ثبت نام کنید.</span></a> 
       </div>
    </div>
</body>
</html>