{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="{% static "home/start.css" %}" rel="stylesheet" />
    <title>start</title>
  </head>
  <body>
    <header>
      <div id="logo">
        <img src="{% static "home/images/logo.png" %}" alt="logo" id="logo" />
      </div>
      <div id="categori">
        <a href="{% url "homepage" %}" id="categori-child">خانه</a>
        <a href="#" id="categori-child">درباره ما</a>
        <a href="#" id="categori-child">منابع</a>
        <a href="#" id="categori-child">ارتباط با ما </a>
      </div>
      <div id="search">
        <a href="{% url "sign-up" %}" target="_blank">
        <button id="button-header">
          ورود به حساب کاربری
          <img id="img-btn-header" src="{% static "home/images/Check_Circle.png" %}" alt="circle" />
        </button>
        </a>
      </div>
    </header>
    <div class="main">
      <div class="map">
        <div class="maphead">
          <span class="mapP">نقشه</span>
          <span class="mapE">Map</span>
        </div>
        <div class="mainmap"></div>
      </div>

      <div class="container">
        <div class="menu-item">
          <div class="menu-header green">
            <span>جستجو</span>
            <img src="{% static "home/images/arrow.png" %}" alt="arrow" />
          </div>
        </div>
        <form action="" method="get" id="areaname">
          <div class="menu-item">
            <div class="menu-header orange header1">
              <span>منطقه مورد مطالعه</span>
              <img src="{% static "home/images/arrow.png" %}" alt="arrow" />
            </div>
            <div class="contents1">
              <div class="sub-content">
                <div class="list-item">
                  <input
                    type="radio"
                    id="7joy"
                    name="area-names"
                    value="haftjooy"
                  /><label for="7joy">هفت جوی</label>
                </div>
                <div class="list-item">
                  <input
                    type="radio"
                    id="krj"
                    name="area-names"
                    value="karaj"
                  /><label for="krj">کرج</label>
                </div>
                <div class="list-item">
                  <input
                    type="radio"
                    id="kamal-abad"
                    name="area-names"
                    value="kamalabd"
                  /><label for="kamal-abad">کمال آباد</label>
                </div>
                <div class="list-item">
                  <input
                    type="radio"
                    id="abas-abad"
                    name="area-names"
                    value="abbasabd"
                  /><label for="abas-abad">عباس آباد</label>
                </div>
                <div class="list-item">
                  <input
                    type="radio"
                    id="farokh-abad"
                    name="area-names"
                    value="farokhabad-nahalestankaraj"
                  /><label for="farokh-abad">فرخ آباد</label>
                </div>
              </div>
              <div class="submit-reset">
                <button type="reset" class="area-reset" form="areaname">
                  پاک کردن همه
                </button>
                <button type="submit" class="area-submit" form="areaname">
                  تایید
                </button>
              </div>
            </div>
          </div>
        </form>
        <form action="" method="get" id="parameters">
          <div class="menu-item">
            <div class="menu-header orange header2">
              <span> پارامتر های مورد نظر </span>
              <img src="{% static "home/images/arrow.png" %}" alt="arrow" />
            </div>
            <div class="contents2">
              <div class="sub-content">
                <div class="list-item">
                  <input
                    type="checkbox"
                    id="CaCo3"
                    name="parameters"
                    value="caco3"
                  /><label for="caco3">کربنات کلسیم(CaCo3)</label>
                </div>
                <div class="list-item">
                  <input
                    type="checkbox"
                    id="CEC"
                    name="parameters"
                    value="CEC"
                  /><label for="CEC">ظرفیت تبادل کاتیونی(CEC)</label>
                </div>
                <div class="list-item">
                  <input
                    type="checkbox"
                    id="EC"
                    name="parameters"
                    value="ece"
                  /><label for="EC">شوری (EC)</label>
                </div>
                <div class="list-item">
                  <input
                    type="checkbox"
                    id="PH"
                    name="parameters"
                    value="ph"
                  /><label for="PH">اسیدیته (pH)</label>
                </div>
              </div>
              <div class="submit-reset">
                <button type="reset" class="area-reset" form="parameters">
                  پاک کردن همه
                </button>
                <button type="submit" class="area-submit" form="parameters">
                  تایید
                </button>
              </div>
            </div>
          </div>
        </form>
        <div class="menu-items result">
          <div class="menu-header orange header2">
            <span>مشاهده نتایج </span>
          </div>
          <div class="menu-items recieve-datas">
            <div class="menu-header orange blue">
              <span>دریافت اطلاعات</span>
              <img src="{% static "home/images/Download.png" %}" alt="arrow" class="download" />
            </div>
          </div>
        </div>
      </div>
      <div class="table1">
        <div class="table-container">
          <div class="table-header">
            <span>اطلاعات پروفیل مورد نظر</span>
            <span>All Results</span>
          </div>
          <table>
            <thead class="data-titles">
              <tr>
                <th>depth</th>
                <th>sand</th>
                <th>Silt</th>
                <th>clay</th>
                <th>SP</th>
                <th>Ece</th>
                <th>pH</th>
                <th>OC</th>
                <th>N</th>
                <th>P</th>
                <th>K</th>
                <th>CaCO3</th>
              </tr>
            </thead>
            {% for soil_sample in soil_samples %}
                    <tr>
                        <td>{{ soil_sample.depth }}</td>
                        <td>{{ soil_sample.sand }}</td>
                        <td>{{ soil_sample.silt }}</td>
                        <td>{{ soil_sample.clay }}</td>
                        <td>{{ soil_sample.sp }}</td>
                        <td>{{ soil_sample.ece }}</td>
                        <td>{{ soil_sample.ph }}</td>
                        <td>{{ soil_sample.oc }}</td>
                        <td>{{ soil_sample.n }}</td>
                        <td>{{ soil_sample.p }}</td>
                        <td>{{ soil_sample.k }}</td>
                        <td>{{ soil_sample.caco3 }}</td>
                    </tr>
            {% endfor %}
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- start footer -->
    <footer>
      <div class="footer">
        <p class="title">لینک های مفید</p>
        <div class="shape">
          <div class="line"></div>
          <div class="triangle"></div>
        </div>
        <div class="footermenu">
          <ul>
            <li>نرم افزارهای کاربردی</li>
            <li>منابع</li>
            <li>درباره آباک</li>
            <li>ارتباط با تیم سازنده</li>
          </ul>
        </div>
        <div class="footer-searchbar"></div>
        <div class="socialmedia">
          <span class="socialmedia">شبکه های اجتماعی :</span>
          <div class="icons">
            <a href=""
              ><img src="{% static "home/images/icons/instgram.png" %}" alt="instgram.png"
            /></a>
            <a href=""><img src="{% static "home/images/icons/X.png" %}" alt="x.png" /></a>
            <a href=""
              ><img src="{% static "home/images/icons/whatsapp.png" %}" alt="whatsapp.png"
            /></a>
          </div>
        </div>
        <div id="search">
          <input type="search" id="search1" name="search" placeholder="جستجو" />
        </div>
      </div>
      <div class="copyright">
        <img src="{% static "home/images/icons/copyright.jpg" %}" alt="" class="teamlogo" />
        <a href="#" class="copyright">Endless Creative Team - 2024</a>
      </div>
    </footer>
    <!-- end footer -->
    <script src="{% static "home/start.js" %}"></script>
  </body>
</html>