* {
  background-color: #fefae0;
  direction: rtl;
}
@font-face {
  font-family: IRANSansWeb-Bold , abak1;
  src: url(fonts/IRANSansWeb-Bold/IRANSansWeb-Bold.eot);
  src: url(fonts/IRANSansWeb-Bold/IRANSansWeb-Bold.woff);
  src: url(fonts/IRANSansWeb-Bold/IRANSansWeb-Bold.woff2);
  src: url(fonts/IRANSansWeb-Bold/IRANSansWeb-Bold.ttf);
}
@font-face {
  font-family: IRANSansWeb;
  src: url(fonts/IRANSansWeb/IRANSansWeb.eot);
  src: url(fonts/IRANSansWeb/IRANSansWeb.woff2);
  src: url(fonts/IRANSansWeb/IRANSansWeb.woff);
  src: url(fonts/IRANSansWeb/IRANSansWeb.ttf);
}
@font-face {
  font-family: IRANSansWeb-Medium;
  src: url(/fonts/IRANSansWeb-Medium/IRANSansWeb-Medium.eot);
  src: url(/fonts/IRANSansWeb-Medium/IRANSansWeb-Medium.ttf);
  src: url(/fonts/IRANSansWeb-Medium/IRANSansWeb-Medium.woff2);
  src: url(/fonts/IRANSansWeb-Medium/IRANSansWeb-Medium.woff);
}
body {
  font-size: 14px;
}
header {
  display: flex;
}
#logo {
  width: 80px;
  margin: 5px;
}
#categori {
  margin: 35px auto 0;
  width: 598.65px;
  height: 38px;
}
#categori-child {
  margin-right: 50px;
  margin-left: 50px;
  transition: 0.1s;
  font-size: 24px;
  font-weight:600;
  color: black;
  text-decoration: none;
  font-family: "abak1";
}
#categori-child:hover {
  color: #606c38;
}
#search {
  height: fit-content;
  margin: 20px 0 auto 10px;
  background-color: white;
}
#button-header {
  background-color: #283618;
  width: 250px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  font-family: abak1;
}
#img-btn-header
{
  background-color: #283618;
}
/*-----------------------main------------------------*/
.bg-page {
  text-align: center;
  width: 98%;
  height: 750px;
  top:200px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.label-3 {
  width: 330px;
  height: 40px;
  opacity: 1;
  position: absolute;
  top: 159px;
  left: 380px;
  overflow: hidden;
}
.label-3-1 {
  width: 330px;
  height: 40px;
  background: rgba(221,161,94,0.5);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  
}
.txt-label-3 {
  width: 101px;
  color: rgba(255, 255, 255, 0.589);
  background: #dda25e00;
  position: absolute;
  top: 10px;
  left: 219px;
  font-family: IRANSansWeb;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.txt-label-3-1{
  width: 61px;
  color: rgba(255, 255, 255, 0.589);
  background: #dda25e00;
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: IRANSansWeb;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.label-4 {
  width: 330px;
  height: 40px;
  opacity: 1;
  position: absolute;
  top: 159px;
  left: 30px;
  overflow: hidden;
}
.label-4-1{
  width: 330px;
  height: 40px;
  background: rgba(221,161,94,0.5);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}
.txt-label-4 {
  width: 116px;
  color: rgba(255, 255, 255, 0.589);
  background: #dda25e00;
  position: absolute;
  top: 10px;
  left: 204px;
  font-family: IRANSansWeb;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.txt-label-4-1 {
  width: 53px;
  color: rgba(255, 255, 255, 0.589);
  background: #dda25e00;
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: IRANSansWeb;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.label-2 {
  width: 330px;
  height: 40px;
  opacity: 1;
  position: absolute;
  top: 159px;
  left: 730px;
  overflow: hidden;
}
.label-2-1 {
  width: 330px;
  height: 40px;
  background: rgba(221,161,94,0.5);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}
.txt-label-2 {
  width: 187px;
  color: rgba(255, 255, 255, 0.589);
  background: #dda25e00;
  position: absolute;
  top: 10px;
  left: 133px;
  font-family: IRANSansWeb;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.txt-label-2-1 {
  width: 74px;
  color: rgba(255, 255, 255, 0.589);
  background: #dda25e00;
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: IRANSansWeb;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.label-1 {
  width: 330px;
  height: 40px;
  opacity: 1;
  position: absolute;
  top: 159px;
  left: 1080px;
  overflow: hidden;
}
.label-1-1{
  width: 330px;
  height: 40px;
  background: rgba(188,108,37,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}
.txt-label-1 {
  width: 135px;
  color: rgb(255, 255, 255);
  background: #dda25e00;
  position: absolute;
  top: 11px;
  left: 185px;
  font-family: IRANSansWeb;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.txt-label-1-1 {
  width: 30px;
  color: rgb(255, 255, 255);
  background: #dda25e00;
  position: absolute;
  top: 11px;
  left: 10px;
  font-family: IRANSansWeb;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.map-div {
  width: 1030px;
  height: 650px;
  opacity: 1;
  position: absolute;
  top: 296px;
  left: 30px;
  overflow: hidden;
}
.map {
  width: 1030px;
  height: 609px;
  background: url("images/v147_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 0px;
  overflow: hidden;
}
.map-header {
  width: 100%;
  height: 40px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.map-header-child {
  width: 100%;
  height: 40px;
  background: rgba(221,161,94,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}
.map-header-child-1 {
  width: 58px;
  color: rgb(255, 255, 255);
  background: #dda25e00;
  position: absolute;
  top: 10px;
  left: 956px;
  font-family: IRANSansWeb;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.map-header-child-2 {
  width: 165px;
  color: rgb(255, 255, 255);
  background: #dda25e00;
  position: absolute;
  top: 10px;
  left: 32px;
  font-family: IRANSansWeb;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.search {
  width: 330px;
  height: 40px;
  opacity: 1;
  position: absolute;
  top: 250px;
  left: 1080px;
  overflow: hidden;
}
.search-1 {
  
  width: 330px;
  height: 40px;
  background: rgba(96,108,56,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.search-1-1 {
  
  width: 70px;
  color: rgb(255, 255, 255);
  background: #dda25e00;
  position: absolute;
  top: 10px;
  left: 250px;
  font-family: IRANSansWeb;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.select {
  width: 330px;
  height: 40px;
  opacity: 1;
  position: absolute;
  top: 296px;
  left: 1080px;
  overflow: hidden;
  
}
.select-1 {
  width: 330px;
  height: 40px;
  background: rgba(188,108,37,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}
.txt-select{
  width: 135px;
  color: rgb(255, 255, 255);
  background: #dda25e00;
  position: absolute;
  top: 11px;
  left: 185px;
  font-family: IRANSansWeb;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.select-child{
  width: 330px;
  height: 40px;
  opacity: 1;
  position: absolute;
  top: 336px;
  left: 1080px;
  overflow: hidden;
}
.select-child-1 {
  width: 330px;
  height: 40px;
  background: rgba(221,161,94,0.5);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.txt-select-child {
  width: 54px;
  color: rgb(0, 0, 0);
  background: #dda25e00;
  position: absolute;
  top: 10px;
  left: 266px;
  font-family: IRANSansWeb;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.select-child-2 {
  width: 24px;
  height: 24px;
  background: rgba(221, 162, 94, 0);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.select-child-3 {
  width: 19px;
  height: 20px;
  background: rgba(255, 255, 255, 0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 5px;
}
.select-info {
  width: 330px;
  height: 40px;
  background: url("../images/v148_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 377px;
  left: 1080px;
  overflow: hidden;
}
.select-info-child {
  width: 330px;
  height: 40px;
  background: rgba(221,161,94,0.5);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.txt-select-info {
  width: 132px;
  color: rgb(0, 0, 0);
  background: #dda25e00;
  position: absolute;
  top: 7px;
  left: 188px;
  font-family: IRANSansWeb;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.select-info-1 {
  width: 24px;
  height: 24px;
  background: rgba(255, 136, 0, 0);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.select-info-2 {
  width: 19px;
  height: 20px;
  background: rgba(255, 136, 0, 0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 5px;
}
.select-info-dw {
  width: 330px;
  height: 40px;
  background: url("../images/v148_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 418px;
  left: 1080px;
  overflow: hidden;
}
.select-info-dw-child {
  width: 330px;
  height: 40px;
  background: rgba(221,161,94,0.5);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.txt-select-dw {
  width: 127px;
  color: rgb(0, 0, 0);
  background: #dda25e00;
  position: absolute;
  top: 7px;
  left: 193px;
  font-family: IRANSansWeb;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.select-dw-1 {
  width: 24px;
  height: 24px;
  opacity: 1;
  position: absolute;
  background: rgba(221, 162, 94, 0);
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.select-dw-2 {
  width: 19px;
  background: rgba(255, 136, 0, 0);
  height: 20px;
  position: absolute;
  top: 0px;
  left: 5px;
}
.search-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 258px;
  left: 1088px;
  overflow: hidden;
}
.search-icon-1 {
  width: 19px;
  height: 20px;
  top: 2px;
  left: 2px;
}
#photo
{
  background: rgba(96,108,56,1);
}
#photo-select
{
  background: rgba(188, 107, 37, 0);
}
.select-icon {
  width: 24px;
  height: 24px;
  background: rgba(188,108,37,1);
  opacity: 1;
  position: absolute;
  top: 305px;
  left: 1089px;
  transform: rotate(-180deg);
  overflow: hidden;
}
.v148_27 {
  width: 19px;
  height: 20px;
  border:2px rgb(0, 119, 255) solid;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 1px;
}
.next-level {
  width: 72px;
  color: rgba(0,0,0,0.5);
  position: absolute;
  top: 480px;
  left: 1084px;
  background: rgba(188, 107, 37, 0);
  font-family: IRANSansWeb;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
  border: 0px;
}
/* footer styles */
div.footer {
  margin-top: 30px;
  width: 100%;
  height: 300px;
  background-color: #606c38;
  box-sizing: border-box;
  padding: 20px;
  position: relative;
}
div.footer p {
  font-size: 32px;
  margin: 0 5px 15px 0;
  color: #ffff;
  font-family: abak;
  background-color: #606c38;
}

/* underline shape styles */
div.shape {
  width: inherit;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
div.line {
  width: 230px;
  height: 3px;
  background-color: #dda15e;
  position: absolute;
}
div.triangle {
  background-color: #dda15e;
  width: 17px;
  height: 17px;
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
  position: absolute;
  right: 220px;
}
/*-------------------------------------------------------------*/
/* footer menu styles */
footer{
  margin-top: 850px;
  margin-right: -9px;
  width: 101.12%;
  margin-bottom: -1%;
}
div.footermenu {
  width: 150px;
  height: 150px;
  margin-top: 28px;
  padding: 0;
}
div.footermenu ul {
  width: inherit;
  height: inherit;
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  background-color: #606c38;
}
div.footermenu li {
  font-size: 18px;
  color: #ffff;
  cursor: pointer;
  font-family: abak1;
  background-color: #606c38;
}

/* socialmedi styles */
div.socialmedia {
  width: 195px;
  height: 85px;
  position: absolute;
  bottom: 40px;
  left: 90px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #606c38;
}
div.socialmedia span {
  font-size: 18px;
  color: #fff;
  font-family: IRANSansWeb;
  background-color: #606c38;
  font-family: abak1;
}
div.socialmedia div.icons {
  width: inherit;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: #606c38;
}
div.icons img {
  transition: 0.5s;
  background-color: #606c38;
}
div.icons img:hover {
  opacity: 0.5;
}
div.icons a {
  background-color: #606c38;
}
footer #search {
  position: absolute;
  left: 60px;
  top: 30px;
  border-radius: 7px;
  background-color: #fff;
  border: none;
}
/* copyright section */
footer .copyright {
  width: 100%;
  color: #fff;
  height: 60px;
  background-color: rgb(0, 0, 0);
  direction: ltr;
  font-family: abak2;
  font-size: 18px;
  padding-left: 30px;
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
footer .copyright img {
  margin-right: 15px;
  width: 40px;
}
img.circles {
  background-color: transparent;
  position: absolute;
  left: 20px;
  top: 50px;
  width: 250px;
  height: 200px;
  z-index: 3;
}
a
{
  text-decoration: none;
}